.label {
    -fx-font-family: "fantasy";
    -fx-font-size: 14;
}

.title {
    -fx-font-family: "fantasy";
    -fx-font-size: 28;
    -fx-font-weight: bold;
}

.score {
    -fx-font-size: 40;
}

.subtitle {

}